<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="col-md-6 mx-auto text-center">
           <div class="header-title">
              <h1 class="wv-heading--title">
                 Check out — it’s free!
              </h1>
              <h2 class="wv-heading--subtitle">
                 Lorem ipsum dolor sit amet! Neque porro quisquam est qui do dolor amet, adipisci velit...
              </h2>
           </div>
        </div>
        <div class="row">
           <div class="col-md-4 mx-auto">
              <div class="myform form ">
                 <form action="/index.html" method="post" name="login">
                    <div class="form-group">
                       <input type="text"  class="form-control my-input" id="name" placeholder="Name" name="uname">
                    </div>
                    <div class="form-group">
                       <input type="email" name="email"  class="form-control my-input" id="email" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                       <input type="password" min="0"  id="phone"  class="form-control my-input" placeholder="Password" name="passw">
                    </div>
                    <div class="text-center ">
                       <button type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
                    </div>
                    <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                    </p>
                 </form>
                 <br>
                        <a href="index.html"><button type="submit" class=" btn btn-block send-button tx-tfm" style="background-color: darkseagreen;">Log in</button></a>
              </div>
           </div>
        </div>
     </div>
</body>
</html>